<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
	<key>items</key>
	<array>
	<dict>
	<key>assets</key>
	<array>
	<dict>
	<key>kind</key>
	<string>software-package</string>
	<key>url</key>
	<string>http://119.23.11.215/res/816187894.ipa</string>// ipa地址
	</dict>
	<dict>
	<key>kind</key>
	<string>display-image</string>
	<key>url</key>
	<string>http://119.23.11.215/res/icon.png</string>
	</dict>
	<dict>
	<key>kind</key>
	<string>full-size-image</string>
	<key>url</key>
	<string>http://119.23.11.215/res/icon.png</string>
	</dict>
	</array>
	<key>metadata</key>
	<dict>
	<key>bundle-identifier</key>
	<string>com.338.test.ios</string>// 你APP的bundleId
	<key>bundle-version</key>
	<string>1.0</string>//分发程序的版本
	<key>kind</key>
	<string>software</string>
	<key>title</key>
	<string>LC_IL</string>
	</dict>
	</dict>
	</array>
	</dict>
</plist>